altair
anthropic
anthropic[bedrock]
boto3
chatlas
faicons
ipykernel
jupyter
langchain
langchain-anthropic
langchain-openai
langgraph
openai
palmerpenguins
pandas
pillow
playwright
plotly
plotnine
pytest
pytest-playwright
python-dotenv
querychat
requests
ridgeplot
seaborn
shiny
shinychat
shinylive
shinywidgets
tokenizers
